.single-character-container {
    background-color: rgb(67, 67, 67);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: azure;
    padding: 2vh;
}

.sub-info-character-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .single-character-container {
        width: 49vh;
        padding: 1vh;

    }
    
    
}

@media screen and (max-width: 400px) {
    .single-character-container {
        width: 43vh;
    }
    
    
}