.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(221, 246, 139);
    padding: 2vh;
}

.header-image {
    display: none;
}

@media screen and (max-width: 900px) {
    .header-image {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .header-heading {
        display: none;
    }

    .header-image {
        display: flex;
        width: 8vh;
        height: auto;
        margin: 0vh 0vh 0vh 3vh;
    }

}