body {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(127, 147, 62);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
  }