.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-image-button-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-image-button-container > img {
    width: 70vh;
    margin-bottom: 4vh;
}

.login-button {
    font-size: 4vh;
    width: 50vh;
    height: 8vh;
}

.login-loading-spinner {
    margin: 5vh 0vh 0vh 0vh;
    width: 8vh;
    height: 8vh;
}

@media screen and (max-width: 450px) {
    .login-image-button-container {
        margin: 20vh 15vh 0vh 15vh;
    }

    .login-image-button-container > img {
        width: 40vh;
    }

    .login-button {
        width: 40vh;
        font-size: 4vh;
        height: 10vh;
    }
    
}